DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ratio?schema=public"
AUTH_SECRET="replace-with-at-least-32-random-characters"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
ADMIN_EMAIL="admin@ratio.local"
ADMIN_PASSWORD="ChangeMe123!"
